In [31]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import seaborn as sns

In [32]:
df = pd.read_csv('../dataset/OnlineNewsPopularity.csv')
df.columns = df.columns.str.strip()

In [33]:
df.head()

,url,timedelta,n_tokens_title,n_tokens_content,n_unique_tokens,n_non_stop_words,n_non_stop_unique_tokens,num_hrefs,num_self_hrefs,num_imgs,...,min_positive_polarity,max_positive_polarity,avg_negative_polarity,min_negative_polarity,max_negative_polarity,title_subjectivity,title_sentiment_polarity,abs_title_subjectivity,abs_title_sentiment_polarity,shares
0,http://mashable.com/2013/01/07/amazon-instant-...,731.0,12.0,219.0,0.663594,1.0,0.815385,4.0,2.0,1.0,...,0.100000,0.7,-0.350000,-0.600,-0.200000,0.500000,-0.187500,0.000000,0.187500,593
1,http://mashable.com/2013/01/07/ap-samsung-spon...,731.0,9.0,255.0,0.604743,1.0,0.791946,3.0,1.0,1.0,...,0.033333,0.7,-0.118750,-0.125,-0.100000,0.000000,0.000000,0.500000,0.000000,711
2,http://mashable.com/2013/01/07/apple-40-billio...,731.0,9.0,211.0,0.575130,1.0,0.663866,3.0,1.0,1.0,...,0.100000,1.0,-0.466667,-0.800,-0.133333,0.000000,0.000000,0.500000,0.000000,1500
3,http://mashable.com/2013/01/07/astronaut-notre...,731.0,9.0,531.0,0.503788,1.0,0.665635,9.0,0.0,1.0,...,0.136364,0.8,-0.369697,-0.600,-0.166667,0.000000,0.000000,0.500000,0.000000,1200
4,http://mashable.com/2013/01/07/att-u-verse-apps/,731.0,13.0,1072.0,0.415646,1.0,0.540890,19.0,19.0,20.0,...,0.033333,1.0,-0.220192,-0.500,-0.050000,0.454545,0.136364,0.045455,0.136364,505

In [46]:
# Dataset basic information
print("Filas, columnas:", df.shape)
print("\nColumnas:")
print(df.columns.tolist())
print("\nTipos de datos:")
print(df.dtypes.value_counts())
print("\nValores faltantes:")
print(df.isnull().sum().sum())
print("\nEstadísticas básicas:")
df.describe()

Filas, columnas: (39644, 61)

Columnas:
['url', 'timedelta', 'n_tokens_title', 'n_tokens_content', 'n_unique_tokens', 'n_non_stop_words', 'n_non_stop_unique_tokens', 'num_hrefs', 'num_self_hrefs', 'num_imgs', 'num_videos', 'average_token_length', 'num_keywords', 'data_channel_is_lifestyle', 'data_channel_is_entertainment', 'data_channel_is_bus', 'data_channel_is_socmed', 'data_channel_is_tech', 'data_channel_is_world', 'kw_min_min', 'kw_max_min', 'kw_avg_min', 'kw_min_max', 'kw_max_max', 'kw_avg_max', 'kw_min_avg', 'kw_max_avg', 'kw_avg_avg', 'self_reference_min_shares', 'self_reference_max_shares', 'self_reference_avg_sharess', 'weekday_is_monday', 'weekday_is_tuesday', 'weekday_is_wednesday', 'weekday_is_thursday', 'weekday_is_friday', 'weekday_is_saturday', 'weekday_is_sunday', 'is_weekend', 'LDA_00', 'LDA_01', 'LDA_02', 'LDA_03', 'LDA_04', 'global_subjectivity', 'global_sentiment_polarity', 'global_rate_positive_words', 'global_rate_negative_words', 'rate_positive_words', 'rate_negative_words', 'avg_positive_polarity', 'min_positive_polarity', 'max_positive_polarity', 'avg_negative_polarity', 'min_negative_polarity', 'max_negative_polarity', 'title_subjectivity', 'title_sentiment_polarity', 'abs_title_subjectivity', 'abs_title_sentiment_polarity', 'shares']

Tipos de datos:
float64    59
object      1
int64       1
Name: count, dtype: int64

Valores faltantes:
0

Estadísticas básicas:

,timedelta,n_tokens_title,n_tokens_content,n_unique_tokens,n_non_stop_words,n_non_stop_unique_tokens,num_hrefs,num_self_hrefs,num_imgs,num_videos,...,min_positive_polarity,max_positive_polarity,avg_negative_polarity,min_negative_polarity,max_negative_polarity,title_subjectivity,title_sentiment_polarity,abs_title_subjectivity,abs_title_sentiment_polarity,shares
count,39644.000000,39644.000000,39644.000000,39644.000000,39644.000000,39644.000000,39644.000000,39644.000000,39644.000000,39644.000000,...,39644.000000,39644.000000,39644.000000,39644.000000,39644.000000,39644.000000,39644.000000,39644.000000,39644.000000,39644.000000
mean,354.530471,10.398749,546.514731,0.548216,0.996469,0.689175,10.883690,3.293638,4.544143,1.249874,...,0.095446,0.756728,-0.259524,-0.521944,-0.107500,0.282353,0.071425,0.341843,0.156064,3395.380184
std,214.163767,2.114037,471.107508,3.520708,5.231231,3.264816,11.332017,3.855141,8.309434,4.107855,...,0.071315,0.247786,0.127726,0.290290,0.095373,0.324247,0.265450,0.188791,0.226294,11626.950749
min,8.000000,2.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,-1.000000,-1.000000,-1.000000,0.000000,-1.000000,0.000000,0.000000,1.000000
25%,164.000000,9.000000,246.000000,0.470870,1.000000,0.625739,4.000000,1.000000,1.000000,0.000000,...,0.050000,0.600000,-0.328383,-0.700000,-0.125000,0.000000,0.000000,0.166667,0.000000,946.000000
50%,339.000000,10.000000,409.000000,0.539226,1.000000,0.690476,8.000000,3.000000,1.000000,0.000000,...,0.100000,0.800000,-0.253333,-0.500000,-0.100000,0.150000,0.000000,0.500000,0.000000,1400.000000
75%,542.000000,12.000000,716.000000,0.608696,1.000000,0.754630,14.000000,4.000000,4.000000,1.000000,...,0.100000,1.000000,-0.186905,-0.300000,-0.050000,0.500000,0.150000,0.500000,0.250000,2800.000000
max,731.000000,23.000000,8474.000000,701.000000,1042.000000,650.000000,304.000000,116.000000,128.000000,91.000000,...,1.000000,1.000000,0.000000,0.000000,0.000000,1.000000,1.000000,0.500000,1.000000,843300.000000

El dataset no tiene valores nulos, no se necesita imputación.

In [50]:
pd.set_option('display.max_colwidth', None)
pd.set_option('display.width',  None)

print("=== Valores extremos ===")
print("n_unique_tokens > 1:")
print(df[df['n_unique_tokens'] > 1][['url',
'n_unique_tokens', 'n_tokens_content']].head())

print("\n=== Inconsistencias lógicas ===")
print("Artículos con 0 tokens de contenido pero otras métricas:")
zero_content = df[df['n_tokens_content'] == 0]
print(f"Count: {len(zero_content)}")
if len(zero_content) > 0:
    print(zero_content[['url', 'n_tokens_content',
'num_hrefs', 'num_imgs']].head())

print("\n=== DISTRIBUCIONES EXTREMAS ===")
print("Shares > 100k:")
print(f"Count: {len(df[df['shares'] > 100000])}")

print("\nnum_hrefs > 100:")
print(f"Count: {len(df[df['num_hrefs'] > 100])}")

print(f"\nn_unique_tokens range:  {df['n_unique_tokens'].min():.3f} to {df['n_unique_tokens'].max():.3f}")
print(f"Expected range for ratios: 0 to 1")

=== Valores extremos ===
n_unique_tokens > 1:
                                                                    url  \
31037  http://mashable.com/2014/08/18/ukraine-civilian-convoy-attacked/

       n_unique_tokens  n_tokens_content
31037            701.0            1570.0

=== Inconsistencias lógicas ===
Artículos con 0 tokens de contenido pero otras métricas:
Count: 1181
                                                                     url  \
893       http://mashable.com/2013/01/23/actual-facebook-graph-searches/
917   http://mashable.com/2013/01/23/fitness-gadget-gym-cost-comparison/
1062          http://mashable.com/2013/01/25/data-vs-nature-infographic/
1121              http://mashable.com/2013/01/26/infographics-marketing/
1312                http://mashable.com/2013/01/29/social-tv-chart-1-29/

      n_tokens_content  num_hrefs  num_imgs
893                0.0        0.0      10.0
917                0.0        0.0       0.0
1062               0.0        0.0       0.0
1121               0.0        0.0       0.0
1312               0.0        0.0       0.0

=== DISTRIBUCIONES EXTREMAS ===
Shares > 100k:
Count: 58

num_hrefs > 100:
Count: 51

n_unique_tokens range:  0.000 to 701.000
Expected range for ratios: 0 to 1

Revisamos esos artículos uno por uno y constatamos que son artículos mal registrados. El que tiene 701 tokens únicos es un artículo normal, es claramente un error de registro. Lo mismo pasa con las páginas con 0 tokens de contenido: todas tienen contenido habitual.